<!DOCTYPE html>
<html>
    <body>
        <h2 align="center">Names & Saleries</h2>

        <table border="1" align="center" width="400">
            <tr>
                <td align="center" colspan="2">Salary Adjustment</td>
            </tr align="center">
            <td><p id="name"></p></td><td><p id="salary$"></p></td>
        </table>
        <script>
            const salary = [1100 , 2000 , 3400 , 3500]
            const name1 = ["Peter", "John", "Sam", "Joe"];
            let i = 0;
            let len  = salary.length;
            let text = "";

            let j = 0;
            let len1 = name1.length;
            let text1 = "";

            for (;i < len; ) {
                text += salary[i] + "<br>"
                i++;
            }

            for (;j < len1; ) {
                text1 += name1[j] + "<br>"
                j++;
            }
            document.getElementById("salary$").innerHTML = text;
            document.getElementById("name").innerHTML = text1;
        </script>
    </body>
</html>